name: shayfa_quran_app
description: A production-ready Quran Reading App.
version: 1.0.0+1

environment:
  sdk: ">=2.17.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter
  http: ^1.1.0
  syncfusion_flutter_pdfviewer: ^22.1.34
  path_provider: ^2.1.1
  dio: ^5.3.2
  shared_preferences: ^2.2.1

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0

flutter:
  uses-material-design: true
  assets:
    - assets/images/
